.drawer {
  background-color: rgba(12, 37, 86, 1);
  color: white;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.drawer_button {
  background-color: rgba(12, 37, 86, 1);
  border: 0;
  color: white;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drawer_button_active {
  background-color: rgba(15, 46, 105, 1);
}
